body {
    padding: 0 15px;
    max-width: 1500px;
    margin: 0 100px;

}

.container_1 {
    background-color: #FFFFFF;
    display: block;
}

.weather {
    display: block;
    float: left;
    padding: 0 30px 30px 0;
}

.map {
    display: block;
}

.pogoda {
    font-family: 'Arimo';
    font-size: 20px;
    padding-top: 10px;
}

.logo {
    margin-top: 30px;
}

h1 {
    margin-left: 120px;
    font-family: 'Arimo';
    font-size: 35px;
    padding-top: 30px;


}

.placeofinterest {
    font-family: 'Arimo';
    font-size: 20px;
    padding-top: 30px;

}

.church {
    margin-top: 30px;
    width: 200px;
    border-radius: 100px;
    display: inline;
    margin: 30px;
}

.whitepond {
    width: 200px;
    border-radius: 100px;
    display: inline;
    margin: 30px;
}

.crocomap {
    width: 200px;
    border-radius: 100px;
    display: inline;
    margin: 30px;
}

.gun {
    width: 200px;
    border-radius: 100px;
    display: inline;
    margin: 30px;
}

.history {
    margin-top: 30px;
}

.istoria {
    font-family: 'Arimo';
    font-size: 20px;
}

.firsthis {
    display: block;
    float: left;
    font-family: 'Arimo';
    font-size: 20px;
    font-weight: 700px;

}

.translate {
    display: block;
    margin-left: 50%;
    font-family: 'Arimo';
    font-size: 20px;
    padding-top: 30px;
}

.story1 {
    display: block;
    float: left;
    font-family: 'Arimo';
    width: 40%;
}

.storytrans {
    display: block;
    margin-left: 50%;
    font-family: 'Arimo';
    padding: 20px;
    border: 1px solid;
    background-color: lemonchiffon;
}

.art {
    font-family: 'Arimo';
    font-size: 20px;
    font-weight: 700px;
}


.artdescribe {
    display: block;

}

.artdescribetext {
    display: block;
    float: left;
    font-family: 'Arimo';
    padding: 20px;
    border: 1px solid;
    background-color: lemonchiffon;
}

.picofshepelevo {
    display: block;

}


.button {
    margin-top: 40px;
    padding: 20px 40px;
    background-color: #7b5827;
    display: inline-flex;
    color: #FFFFFF;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 50%;
}